
<div class="container text-center d-flex align-items-center h-100">
    <div class="row">
        <div class="col">
            <h1>Entrar</h1>

            <p>Faça login ou cadastre-se para ter acesso a diversas promoções!</p>
        
            
            <div class="form-group">
                <label class="sr-only">Email</label>
                <input name="email" placeholder="email@exemplo.com" class="form-control" type="email"/>
            </div>
            <div class="form-group">
                <label class="sr-only">Senha</label>
                <input name="senha" placeholder="Senha" class="form-control" type="password"/>
            </div>
            
            <a routerLink="/main" class="btn btn-primary d-block">Entrar</a>
            <a routerLink="/signin" class="btn btn-link">Cadastre-se</a>
        </div>
        
    </div>
</div>
